<!DOCTYPE html>
<html lang="ro">
<head>
    <meta name="description"
          content="Cards and Board Games">
    <meta name="keywords" content="cards, boardgames, games, produse">
    <title>Cards and Board Games</title>
    <%- include("../fragmente/head") %>
    <script type="text/javascript" src=/resurse/js/produse.js></script>
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</head>
<body>
<%- include("../fragmente/header") %>

<main>
    <label> Nume: <input type="text" id="inp-nume" onblur="validateAlphabeticText()"></label>
    <div> Producatori:
        <% for (let pdc of locals.produc) { %>
            <p><label> <%- pdc.unnest %>
                    <input name="gr_rad" value="<%- pdc.unnest %>" type="radio"/>
                </label></p>
        <% } %>
        <p><label>Toate
                <input checked id="r_default" name="gr_rad" value="toate" type="radio"/>
            </label>
    </div>
    <br>
    <label>Select pret:
        <select id="inp-pret" multiple>
            <option value="0-30">0-30</option>
            <option value="30-100">30-100</option>
            <option value="100-250">100-250</option>
            <option value="250-1000000000">Peste</option>
        </select>
    </label>
    <br>

    <label> Minim puncte de loialitate: <input type="range" id="inp-puncte" class="form-range" value="0" min="0"
                                               max="<%- locals.puncte %>"><span id="infoRange">(0)</span></label>
    <label> Categorie:
        <select id="inp-categorie">
            <option id="sel-toate" selected value="toate">toate</option>
            <% for (let opt of locals.optiuni) { %>
                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
            <% } %>
        </select>
    </label>
    <br>
    <textarea id="inp-descriere"></textarea>
    <br>

    <div class="btn-group-toggle " data-toggle="buttons">
        <label class="btn btn-outline-secondary" id="label-colectie">
            <input type="checkbox" id="inp-colectie" style="display: none"> Produs de colectie
        </label>
    </div>

    <br>
    <label for="browser">Material:</label>
    <input list="materiale" name="material" id="inp-material">
    <datalist id="materiale">
        <%
        for (let materiale of locals.material){
        %>
        <option value="<%-materiale%>">
        <%}%>
    </datalist>
    <p>
        <button id="filtrare"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg></i>Filtreaza</button>
        <button id="resetare"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
            </svg></i>Reseteaza</button>
        <br/>
        <button id="sortCrescNume"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
            </svg>Sorteaza crescator</button>
        <button id="sortDescrescNume"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt" viewBox="0 0 16 16">
                <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
                <path fill-rule="evenodd" d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
            </svg>Sorteaza descrescator</button>
    </p>

    <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>

    <section id="produse">
        <h2>Produse</h2>
        <div class="grid-produse">
            <%for( let prod of locals.produse) { %>
                <article class="produs">
                    <span class="val-id" style="display: none"><%- prod.id %></span>
                    <h3 class="nume">Nume: <a href="/produs/<%- prod.id %>"><span
                                    class="val-nume"><%- prod.nume %></span></a></h3>
                    <h5>Categorie: <span class="val-categorie"><%- prod.categorie_produs %></span></h5>

                    <figure id="text-imagine">
                        <figcaption class="val-descriere"><%- prod.descriere %></figcaption>
                        <img src="/resurse/img/produse/<%- prod.imagine %>/1.jpg" style="width:50%;height:auto;"
                                                   alt="[imagine <%- prod.nume %>]"/>
                    </figure>

                    <ul class="info-prod">
                        <span class="val-producator" style="display: none"><%- prod.producator %></span>
                        <li class="pret">Pret: <span class="val-pret"><%- prod.pret %></span></li>
                        <li class="material">Material: <span class="val-material"><%- prod.material %></span></li>
                        <li class="componente">Componente: <span class="val-componente"><%- prod.componente %></span>
                        </li>
                        <% d = prod.data_adaugare;
                            var v_luna = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                            var luna = v_luna[d.getMonth() - 1];
                            var v_zi = ["Luni", "Marti", "Miercuri", "Joi", "Vineri", "Sambata", "Duminica"];
                            var zi = v_zi[d.getDay() - 1]; %>
                        <li class="data">Data:
                            <time datetime="<% d.toUTCString() %>" class="val-data"><%- zi %>, <%- d.getDay() %>
                                -<%- d.getMonth()%>
                                -<%- d.getFullYear() %></time>
                        </li>
                        <li class="colectie">Colectie: <span class="val-colectie"><%- prod.colectie %></span></li>
                        <li class="puncte">Puncte loialitate: <span
                                    class="val-puncte"><%- prod.puncte_loialitate %></span>
                        </li>
                    </ul>

                    <label class="selecteaza-cos">
                        Selectează: <input type="checkbox" class="select-cos" value="<%- prod.id %>" autocomplete="off">
                        <br>
                        <i class="fa fa-check" aria-hidden="true"></i> <input type="checkbox" class="salvare" value="<%- prod.id %>" autocomplete="off">
                        <br>
                        <i class="fa fa-times" aria-hidden="true"></i> <input type="checkbox" class="sters" value="<%- prod.id %>" autocomplete="off">
                    </label>
                </article>
            <%} %>
        </div>
    </section>
    <div class="accordion " id="accordionSection">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse"  aria-expanded="false">Pentru mai multe detalii</button></h2>
            <div class="accordion-collapse collapse " id="collapse" data-bs-parent="#accordionSection">
                <div class="accordion-body">
                    Pentru mai multe detalii contactati producatorul indicat in descrierea produsului
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("../fragmente/footer") %>
</body>
</html>
